<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.febrianadk.camera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_hdd"
        android:label="Coronary Hearth Detection"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="Coronary Hearth Detection"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Coronary Hearth Detection"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.it.febrianadk.camera.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MulaiActivity"
            android:label="MulaiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="AboutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.it.febrianadk.camera.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProsesActivity"
            android:label="ProcessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Proses2Activity"
            android:label="Proses2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MulaiProses3Activity"
            android:label="Proses3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Proses3Activity" />
        <activity android:name=".CameraProses3Activity" />
    </application>

</manifest>